<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Enabled</key>
  <true/>
  <key>DesktopName</key>
  <string>Matisu</string>
  <key>Port</key>
  <integer>5901</integer>
  <key>ViewOnly</key>
  <false/>
  <key>ClipboardEnabled</key>
  <true/>
  <key>ServerCursor</key>
  <true/>
  <key>SingleNotifEnabled</key>
  <false/>
  <key>ClientNotifsEnabled</key>
  <false/>
  <key>KeepAliveSec</key>
  <real>300</real>
  <key>Scale</key>
  <real>0.45</real>
  <key>FrameRateSpec</key>
  <string>30:60:120</string>
  <key>OrientationSync</key>
  <true/>
  <key>DeferWindowSec</key>
  <real>0.000</real>
  <key>MaxInflight</key>
  <integer>0</integer>
  <key>TileSize</key>
  <integer>128</integer>
  <key>MaxRects</key>
  <integer>1</integer>
  <key>FullscreenThresholdPercent</key>
  <integer>0</integer>
  <key>HttpPort</key>
  <integer>5902</integer>
  <key>HttpDir</key>
  <string>/usr/share/trollvnc/webclients</string>
  <key>SslCertFile</key>
  <string>/usr/share/trollvnc/ssl/host/cert.pem</string>
  <key>SslKeyFile</key>
  <string>/usr/share/trollvnc/ssl/host/key.pem</string>
  <key>ClipboardEnabled</key>
  <true/>
</dict>
</plist>
